fastapi
uvicorn[standard]
tensorflow
pillow
numpy
python-multipart
streamlit
requests

conda activate Crop_disease

Terminal 1
uvicorn main:app --reload --port 8000

Terminal 2
streamlit run app.py

ResNet50 drive link:
https://drive.google.com/drive/folders/1cnMyGNrIuInsD7-_vsSPlgLA1vqAw1Bm